html,
body {
    font-family: var(--font-family-main);
    background-color: var(--color-primary);
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    line-height: 1;
}

a {
    color: var(--color-grey);
}

* {
    box-sizing: border-box;
}

:root {
    --font-family-main: 'Figtree', sans-serif;
    --font-family-numbers: 'Teko', sans-serif;

    --color-primary: rgb(237 246 250);
    --color-secondary: rgb(95 176 232);
    --color-grey: rgb(51 51 56);
    --color-white: rgb(255 255 255);
    --color-danger: rgb(255 0 0);
    --color-danger-light: rgb(248 215 218);
}
